{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        <ul class="{{ label }}">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_user_login')}}" method="post">
       <label for="username" >Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        <button type="submit">Login</button>
    </form>
{% endblock %}
