{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        <ul class="{{ label }}">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_row(form.termsAccepted) }}
    {{ form_row(form.register) }}
    {{ form_end(form) }}
{% endblock %}
